.ChecklistContainer{

    display: flex;
    justify-content: center;

    min-height: 100vh;

    padding: 50px;

}

.Background{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;

}

.BackgroundGreen{

    z-index: -1;
    background: rgb(196,255,217);
    background: linear-gradient(32deg, rgba(196,255,217,1) 0%, rgba(221,255,233,1) 35%, rgba(181,255,207,1) 100%);
}

.BackgroundYellow{
    z-index: -2;
    background: rgb(233,174,88);
    background: linear-gradient(32deg, rgba(233,174,88,1) 0%, rgba(238,189,138,1) 43%, rgba(238,175,68,1) 100%);

}

.BackgroundRed{

    z-index: -3;
    background: rgb(184,95,59);
    background: linear-gradient(32deg, rgba(184,95,59,1) 0%, rgba(230,64,33,1) 43%, rgba(164,61,28,1) 100%);

}

.fadeIn{
    animation: inAnim 2s ease;
}

.fadeOut{
    animation: outAnim 1s ease;
    animation-fill-mode: forwards;
}

@keyframes inAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes outAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.ChecklistInfoArea{

    display: flex;
    flex-direction: row;

    background-color: white;
    width: 95vw;
    height: 70vh;

    border-radius: 10px;

    padding: 0px 20px 0px 20px;

    -webkit-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.14);

}

.ResultadoArea{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.ButtonsArea{

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    justify-content: space-around;
    height: 100%;
    width: 35vw;

    overflow-y: scroll;

}


.CheckButton{

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 150px;
    height: 50px;

    border-radius: 10px;

    margin-top: 5px;
    margin-bottom: 5px;

    background-color: #FFFFFF;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.14);

}

.CheckButton:hover {

    cursor: pointer;
    background-color: #79c2a8;

}

.horizontalSeparator{

    height: 1px;
    width: 20%;
    background-color: black;

}

.check{
    background-color: #328568;
    color: white;
    font-weight: bold;
}

.check:hover{
    color: white;
    font-weight: bold;
}


