@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,500,700|Open+Sans:400,600,700&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.App{
    height: 100vh;
    overflow: hidden;
}

header{
    
    display: flex;

    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 10px;
    background-color: #24529c;

    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    font-size: 20px;

    color: white;
    
}

.MenuItem{

    margin-right: 20px;

}

.MenuItem:hover{
    cursor: pointer;
    color: #cecece;
    text-decoration: underline;
}

.AppArea{
    width: 100vw;
    height: 84.5vh;
}

footer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding: 10px;
    background-color: #24529c;

    color: white;

}

footer img{

    width: 30px;
    margin-right: 10px;

}

.DisqueSaude{
    display: flex;
    align-items: center;
}

.FooterLinks{
    display: flex;
    flex-direction: row;
    font-size: 12px;
}